.content__intro {
    text-align: center;
    padding: rem-calc(50) 0;
    position: relative;

    @include breakpoint(medium up) {
        padding: rem-calc(100) 0 rem-calc(60);
    }

    h3 {
        padding-bottom: rem-calc(30);
    }

    p {
        // font-size: rem-calc(22);
        // line-height: rem-calc(34);
        font-size: rem-calc(22);
        line-height: rem-calc(28);
        text-transform: uppercase;

        padding-bottom: rem-calc(40);
        // font-weight: $font-weight-light;
        font-weight: $font-weight-normal;
    }

    figure {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: "";
            display: block;
            background: rgba($color-base-white, 0.6);
            width: 100%;
            height: 100%;
        }

        &.is--red {
            &:before {
                background: rgba($color-primary, 0.7);
            }
        }

        &.is--black {
            &:before {
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }

    > .row {
        position: relative;
        z-index: 2;
    }

    &.is--large {
        padding: rem-calc(210) 0 rem-calc(70);

        @include breakpoint(medium up) {
            padding: rem-calc(250) 0 rem-calc(180);
        }

        @include breakpoint(medium only) {
            padding-left: rem-calc(80) !important;
            padding-right: rem-calc(80) !important;
        }

        @include breakpoint(large up) {

        }
    }

    h2 {
        font-size: rem-calc(50);
        padding-bottom: rem-calc(25);

        @include breakpoint(medium up) {
            font-size: rem-calc(50);
            padding-bottom: rem-calc(35);
        }
    }

    &.is--search {
        h3 {
            color: $color-base-white;
        }

        form {
            position: relative;

            input {
                height: rem-calc(50);
                font-size: rem-calc(14);
                padding-left: rem-calc(20);
                padding-right: rem-calc(50);
                width: 100%;

                @include breakpoint(medium up){
                    height: rem-calc(80);
                    font-size: rem-calc(22);
                    padding-left: rem-calc(30);
                    padding-right: rem-calc(80);
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                height: rem-calc(50);
                width: rem-calc(50);
                font-size: rem-calc(18);
                color: $color-secondary;
                border: none;
                background: transparent;

                @include breakpoint(medium up){
                    height: rem-calc(80);
                    width: rem-calc(80);
                    font-size: rem-calc(32);
                }
            }
        }
    }

    &.is--white {
        color: $color-base-white;
    }

    h4 {
        font-size: rem-calc(18);
        line-height: rem-calc(26);
        font-weight: $font-weight-light;
        padding: 0 0 rem-calc(30);

        @include breakpoint(medium up) {
            font-size: rem-calc(30);
            line-height: rem-calc(36);
            padding: 0 0 rem-calc(60);
            font-weight: $font-weight-medium;
        }
    }
}
