.content__list__vertical {
    @include clearfix();
    padding: rem-calc(55) 0 0;
    border-bottom: rem-calc(1) solid rgba($color-grey, 0.2);

    @include breakpoint(medium up) {
        padding: rem-calc(95) 0;
    }

    h3 {
        text-align: center;
        padding-bottom: rem-calc(20);
    }

    h6 {
        text-align: center;
        text-transform: none;
        font-size: rem-calc(16);
        line-height: rem-calc(24);
        color: $color-grey;
        width: 70%;
        margin: auto;
    }

    ul {
        @include clearfix();
        margin-top: rem-calc(40);

        @include breakpoint(medium up) {
            margin-top: rem-calc(80);
        }
    }

    li {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0;
        min-height: rem-calc(120);
        padding-bottom: rem-calc(40);
        text-align: center;

        @include breakpoint(medium up) {
            width: 50%;
            text-align: left;
        }

        @include breakpoint(large up) {
            padding-right: rem-calc(20);
        }

        i {
            font-size: rem-calc(32);
            color: $color-grey;
            position: static;
            left: 0;
            top: 0;
            margin-bottom: rem-calc(10);

            @include breakpoint(medium up) {
                position: absolute;
                margin-bottom: 0;
            }
        }

        h4 {
            font-size: rem-calc(18);
            padding-bottom: rem-calc(15);
            font-weight: $font-weight-bold-light;

            @include breakpoint(medium up) {
                padding-left: rem-calc(55);
            }
        }

        p {
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
            font-size: rem-calc(14);
            line-height: rem-calc(24);

            @include breakpoint(medium up) {
                padding-left: rem-calc(55);
                padding-right: rem-calc(20);
            }
        }
    }
}
