.errors {
    padding: rem-calc(20) rem-calc(20) rem-calc(17);
    border: rem-calc(1) solid $color-primary;
    color: $color-primary;
    font-size: rem-calc(14);
    line-height: rem-calc(18);
    margin-bottom: rem-calc(40);
}
