$color-primary    : #ab0101;
$color-secondary  : #4d4d4d;

$color-base-white : #ffffff;
$color-base-black : #1d1d1d;

$color-success    : #87c388;
$color-danger     : #e44342;
$color-info       : #f19942;

$color-grey       : #a0a0a0;
$color-dark-grey  : #5c5c5c;
$color-darken     : #222328;

$color-whiten     : #f4f4f4;
$border-radius    : rem-calc(3);
