h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

h2 {
    font-weight: $font-weight-bold;
    color: $color-primary;

    b {
        color: $color-base-black;
    }
}

h3 {
    font-size: rem-calc(32);
    font-weight: $font-weight-bold;

    b {
        color: $color-primary;
    }
}

h4 {
    font-size: rem-calc(14);
}

h5 {
    font-size: rem-calc(18);
}

h6 {
    font-size: rem-calc(13);
    font-weight: $font-weight-normal;
}
