$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1200px,
    xlarge: 1300px,
    xxlarge: 1440px,
);

$global-width: 1200px;

@import '../../node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize';
@import "../../node_modules/foundation-sites/scss/util/util";
@import "../../node_modules/foundation-sites/scss/global";

$grid-column-gutter: (
    small: 40px,
    medium: 20px,
    large: 20px
);

@import "../../node_modules/foundation-sites/scss/grid/grid";

@include foundation-global-styles;
@include foundation-grid;

@import "./settings";
@import "./mixin";
@import "./meyer-reset";
@import "./base";
@import "./typography";

@import "./modules/landing";

$hamburger-layer-width : rem-calc(24);
$hamburger-layer-color : $color-secondary;
$hamburger-layer-border-radius : 0;
$hamburger-layer-height : rem-calc(2);
$hamburger-layer-spacing : rem-calc(4);
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

@import "./modules/header";
@import "./modules/nav";
@import "./modules/button";
@import "./modules/hero";
@import "./modules/content-intro";
@import "./modules/content-grid";
@import "./modules/content-video";
@import "./modules/content-keynote";
@import "./modules/pricing";
@import "./modules/form";
@import "./modules/content-grid-video";
@import "./modules/review";
@import "./modules/guide";
@import "./modules/footer";
@import "./modules/content-slider";
@import "./modules/content-list";
@import "./modules/content-flow";
@import "./modules/content-highlight";
@import "./modules/content-list-vertical";
@import "./modules/content-faq";
@import "./modules/review-list";
@import "./modules/review-form";
@import "./modules/content-item";
@import "./modules/content-step";
@import "./modules/content-guarantee";
@import "./modules/content-signup";
@import "./modules/contact";
@import "./modules/thank-you";
@import "./modules/errors";
